{% extends "base.html" %}
{% block meta_description %}RB's (rajababu3) Personal Website. Honors, Awards and Accomplishments {% endblock %}
{% block title %}Raja Babu | Achievements {% endblock %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive-accordion.css' %}">
{% endblock %}
{% block content %}
    <div id="subheader">
        <div class="row">
            <div class="twelve columns">
                <p class="left">
                     My Achievements !
                </p>
                <p class="right">
                     A lot more to come !
                </p>
            </div>
        </div>
    </div>
    <div class="hr"></div>
    <div class="row">
        This page has a list of all the major honors or awards that I have received. <br/> <br/>
    </div>



    <div class="row">
    <div class="twelve columns">
        <div class="centersectiontitle">
            <h4>Quotes that have Inspired me</h4>
        </div>
        These are short but powerful quotes which have shaped me. They inspire me and keeps me motivated  all the time. Yes, there is some magic in them !
        <div id="testimonials">
            <blockquote>
                <p>"There is no secret ingredient !" <cite>Kung Fu Panda</cite></p>
            </blockquote>
            <blockquote>
                <p> "Remember hope is a good thing, maybe the best of things, and no good thing ever dies. Fear can hold you prisoner hope can set you free"<cite>The Shawshank Redemption</cite></p>
            </blockquote>
            <blockquote>
                <p>
                    "You might never fail on the scale I did, but some failure in life is inevitable. It is impossible to live without failing at something, unless you live so cautiously that you might as well not have lived at all - in which case, you fail by default." <cite>J. K. Rowling</cite>
                </p>
            </blockquote>
            <blockquote>
                <p>
                    "It's only after we've lost everything that we're free to do anything" <cite>Tyler Durden, Fight Club (Movie)</cite>
                </p>
            </blockquote>
            <blockquote>
                <p>
                    "Experience is what you get when you didn't get what you wanted. And experience is often the most valuable thing you have to offer." <cite>Randy Pausch, The Last Lecture</cite>
                </p>
            </blockquote>
            <blockquote>
                <p>
                    "The training is nothing. The will is everything. The will to act ! " <cite>Ras Al Ghul, Batman Begins</cite>
                </p>
            </blockquote>
            <blockquote>
                <p>
                    "You are not haunted by war, you miss it !" <cite>Sherlock Holmes</cite>
                </p>
            </blockquote>
            <blockquote>
                <p>
                    "Everyday life is like programming, I guess. If you love something you can put beauty into it. " <cite>Donald Knuth</cite>
                </p>
            </blockquote>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/responsive-accordion.js' %}"></script>
{% endblock %}
